{% extends "base.html" %}
{% block nav_region %}active{% endblock %}
{% block content %}

<h3>Regions</h3>

<section>
    <ul>
    {% for region in regions %}
        <li>
            {{region.name}} &nbsp;
            <a href= "/regions/{{ region.id }}/edit" title="edit" class="right"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color:darkred"></i></a> &nbsp;
        </li>
        {% endfor %}
    </ul>
</section>

    <form id ="addreg" action="/regions" method="POST">
        <div>
            <label for="name">add a region:</label>
            <input type="text" id="name" name="name">
            <input id = "submit" type="submit">
        </div>
    </form>



{% endblock %}