{% extends "base.html" %}
{% block nav_munro %}active{% endblock %}
{% block content %}

<form action="/munros/{{munro.id}}" method="post">
    <h4>edit</h4>
    <div>
        <label for="name">name:</label>
        <input type="text" id="name" name="name" value="{{munro.name}}" required autofocus>

        <label for="height">height:</label>
        <input type="text" id="height" name="height" value="{{munro.height}}" required>

        <p id = "tick-off">climbed:
          <label class = "hidden" for="climbed">climbed:</label>
          <input type="checkbox" id="climbed" name="climbed">
        </p>
      
        <label for="region">region:</label>

        <select id="region" name="region">
          {% for region in regions %}

          <option value="{{ region.id }}" 
            {% if region.id == munro.region.id %} selected = "selected" {% endif %}>{{ region.name }}</option>  
          {% endfor %}
        </select>   
     </div>
     <input id = "submit" type="submit" value="submit">

</form>

{% endblock %}
