{% extends "base.html" %}
{% block content %}

<h3>Munro's</h3>

<p>Munro's section landing page</p>

    {% for munro in munros %}
    <p><a href = "/munros/{{ munro.id }}">{{munro.name}}</a> &nbsp;
        <a href= "/munros/{{ munro.id }}/edit">- edit this munro</a> &nbsp;</p>
    {% endfor %}


    <form action="/munros" method="post">
  
        <div>
            <label for="name">name:</label>
            <input type="text" id="name" name="name" required autofocus>
    
            <label for="height">height:</label>
            <input type="text" id="height" name="height" required>
    
            <label for="climbed">climbed:</label>
            <input type="checkbox" id="climbed" name="climbed">
    
            <label for="region">region:</label>
            <select id="region" name="region">
                {% for region in regions %}
                <option value="{{ region.id}}">{{ region.name }}</option>  
                {% endfor %}
                
            <input type="submit" value="add munro">
        </div>
    
     
    
    </form>


{% endblock %}