{% extends "base.html" %}
{% block nav_munro %}active{% endblock %}
{% block content %}

<h3>Munro's</h3>

<section>
    <ul id="munrolist">

    {% for munro in munros %}
    
    <li>{{munro.name}} &nbsp; ( {{munro.region.name}} ) &nbsp; 
        <a href= "/munros/{{ munro.id }}/edit">- edit</a> &nbsp;</li>
        
    {% endfor %}

    </ul>
</section>
    
    <form action="/munros" method="post">
        <h3>add a new munro</h3>
        <div>
            <label for="name">name:</label>
            <input type="text" id="name" name="name" required autofocus>
    
            <label for="height">height:</label>
            <input type="text" id="height" name="height" required>
    
            <label class="hidden" for="climbed">climbed:</label>
            <input class = "hidden" type="checkbox" id="climbed" name="climbed">
    
            <label for="region">region:</label>
            <select id="region" name="region">
                {% for region in regions %}
                <option value="{{ region.id}}">{{ region.name }}</option>  
                {% endfor %}
            </select>    
            <input id = "submit" type="submit" value="add munro">
        </div>
    
     
    
    </form>


{% endblock %}