<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/form.css') }}">
    <title>compleatr {{title}}</title>
</head>
<body>
    
    <header>

        <nav>
            <ul>
                <li class="{% block nav_home %}{% endblock %}"><a href="/">home</a></li>
                <li class="{% block nav_region %}{% endblock %}"><a href="/regions">regions</a></li>
                <li class="{% block nav_munro %}{% endblock %}"><a href="/munros">munro's</a></li>
            </ul>
        </nav>

      


        <h1 id = "branding">compleatr</h1>
        <h2 id = "strapline">bag 'em an tag 'em</h2>

        
        
    </header>
    
        <article>

            {% block content %}

            {% endblock %}

        </article>
        <footer>
            <p>made with html, css, python, postgresql, flask &amp; jinja2</p>
        </footer>
    
</body>
</html>